################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/Mission_10/CopilotIndices/17.13.439.2385
